#index
{
	outline: solid black 2px;
	width: 20%;
}

#index h4
{
	text-align: center;
}	

.fieldDescription
{
	outline: solid black 2px;
	width: 40%;
}

.fieldDescription ul
{
	list-style-type: none;
}

.methodDescription
{
	outline: solid black 2px;
	width: 55%;
}

.fieldDescription ul
{
	list-style-type: none;
}
